h1{
   text-align: center;
   color: blue;
}
body{
   background-color: black;
}
.pacman-game{
    height: 500px;
    width: 500px;
    border: 1px solid blue;
    margin: 0 auto;
    
}
.User-Buttons{
    display: flex;
    justify-content:center;
    margin-top:20px;
}

button{
    padding: 10px;
    font-size: larger;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(220, 150, 20);
    border-radius: 40px;
    font-weight: bold;
}
p{
    margin-top:-5px;
    color: blue;
    text-align:center;
    font-size:xx-large;
}
.upper-display{
    margin: 0 auto;
    height: 15px;
    width: 500px;
    margin-top:-10px;
    margin-bottom:15px;
    
    display: flex;
    color: rgb(250, 250, 251);
    font-size:x-large;
}

#score{
    margin-left: 0px;
    color: white;
}

#high-score{
    margin-left: 180px;
    color: white;
}

